/*unvisited link */
a:link {
  color: black;
}

/*visited link */
a:visited {
  color: blue
}

/*mouse over link */
a:hover {
  color: red;
  text-decoration: dashed;
}

/*selected link */
a:active {
  color: grey
}


header {
    width: 100%;
    padding: 15px;
    text-align: center;
    background: #000000;
    color: white;
    margin: auto;

  }

h1 {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 50pt;
  margin: auto;
  padding: 10px;
}

img {
  border-radius: 8px;
  float: left;
  max-width: fit-content;
}

main {
  font-family: Arial, Helvetica, sans-serif;
}

article {
  display: block;
  margin-top: auto;
  margin-bottom: 15px;
  margin-left: 20px;
  padding: 20px;
}

h3 {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  display: inline;

}

p {
display: inline;

}

h4 {
  display: inline;
  color:black;
  font-style: oblique;
  padding-left: 25px;
  font-size: small;
}

footer {
  width: 100%;
  margin: auto;
  padding: 10px;
  text-align: center;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: black;
  font-size: smaller;

}

